textarea {
  overflow: auto;
  width: 99%;
  font-family: Consolas, DejaVu Sans Mono, Monaco, Lucida Console, Liberation Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 14px;
  text-align: left;
  border-radius: 4px;
  height: 200px;
  background: #505C63;
  border-color: #333333;
  color: #D3D3D3;
  resize: vertical;
}
.code, .codebox {
  font-family: Consolas, DejaVu Sans Mono, Monaco, Lucida Console, Liberation Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 14px;
}
.codebox > * {
  white-space:pre-wrap;
}
.code.sel {
  background-color: #11F;
}
dt {
  float:left;
}
h1,h2,h3,h4 {
  margin-top:3px;
  margin-bottom: 3px;
}
body {
  background-color: #333;
  color: #D3D3D3;
}
.stackItem {
  height: 75px;
  background-color: #303030;
  resize: auto;
  vertical-align: top;
}

a {
  color: #D3F3D3;
  text-decoration: none;
}
button {
  background-image: none;
  background: none;
  text-shadow: none;
  background-color: #444;
  color: #D3D3D3;
  border-color: #333333;
}

.left, .right {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 50%;
}

.right {
  float: right;
}

a:hover {
  text-decoration: underline;
}

/* docs CSS */

input {
  background-color: #505C63;
  border-color: #666;
  color: #D3D3D3;
}
  
#docstable > * > tr.sdesc {
  border-bottom: 1px solid #555;
  padding-bottom: 110px;
    background-color: #3D3D3D;
}
.dtypetable > tbody > tr > th, .dex > tbody > tr > .ln {
  border-right: 1px solid #555;
}
.dtypetable > tbody > tr > .typecellmid {
  border-top: 1px solid #555;
}
.dindent {
  border-right: 1px solid #555;
  width:12px;
}
.di-t {
  border-top: 1px solid #555;
}
table {
  border-collapse: collapse;
}
#docs-scroll {
  overflow-y: scroll;
  height: 600px;
  width: 95%;
}
#docs {
  padding: 10px;
}
code.cv {
  background-color: #42484b;
  border-radius: 2px;
  padding: 2px;
}

::-webkit-scrollbar-button, ::-webkit-scrollbar-track {
  display:none;
}
::-webkit-scrollbar-thumb {
  background-color:#666;
}
::-webkit-scrollbar {
  background-color:#444 !important;
}